body {
  background-color: #263973;
}
/* Titre formulaire */
h1 {
  text-align: center;
  margin: 3rem;
}
/* Le formulaire */
form {
  display: flex;
  flex-direction: column;
  width: 60vw;
  margin: auto;
  background-color: #9e6253;
  padding: 3rem;
}
/* input */
input {
  position: relative;
  padding: 0.8em;
  margin-bottom: 1rem;
  background-color: #f2eceb;
}
input:hover {
  border: 2px solid #da0dd6;
}
/* label */
label {
  margin-bottom: 0.5rem;
}
/* SVG */
svg {
  position: absolute;
  width: 40px;
  top: 160px;
  right: 7vw;
}

/* SVG pour les icones */
#login-error-icon,
#login-valid-icon {
  display: none;
}

/* button */
.btn {
  width: 30vw;
  height: 30vw;
  margin: 1rem auto;
  padding: 1rem;
  cursor: pointer;
  font-size: 1rem;
  border-radius: 50%;
  background: linear-gradient(120deg, #da0dd6);
  background-color: #3f5efb;
  border: 3px solid #da0dd6;
  text-transform: uppercase; /*Majuscule */
  overflow: hidden;
  position: relative;
}
.btn::before {
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(120deg, transparent, #da0dd6, transparent);
  transform: translateX(-100%);
  transition: 0.6s;
  position: absolute;
}
.btn:hover {
  box-shadow: 0 0 20px 5px #da0dd6;
}
.btn:hover::before {
  transform: translateX(100%);
}

/* couleur pour Jauge de force */
.weak,
.average,
.strong {
  color: white;
  font-weight: bold;
  padding: 0.2em;
  border-radius: 10px;
}
.weak {
  background-color: red;
}
.average {
  background-color: orangered;
}
.strong {
  background-color: green;
}
/* text pour Jauge de force */
#strength-text {
  margin-bottom: 1rem;
}
/* Tablette responsive */
@media screen and (max-width: 1023px) and (min-width: 768px) {
  svg {
    right: 13vw;
  }
  .btn {
    width: 20vw;
    height: 20vw;
  }
}
/* Ordi reponsive */
@media screen and (min-width: 1024px) {
  svg {
    right: 16vw;
  }
  .btn {
    width: 10vw;
    height: 10vw;
  }
}
